* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.nav {
  /* border:1px solid black; */
  float: right;
  margin-right: 20px;
}
.nav > li {
  /* border:1px solid red; */
  float: left;
  padding: 4px 0.5em;
  margin-right: 10px;
  margin-top: 2px;
  font-size: 18px;
}

.logo {
  float: left;
  margin: 6px 20px;
}
header {
  /* border:1px solid green; */
  background: grey;
  color: white;
  font-size: 20px;
}

.content {
  /* outline:1px solid red; */
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.content > aside {
  /* outline:1px solid black; */
  float: left;
  width: 200px;
  height: 500px;
  background-color: rgb(255, 130, 160);
}
.content > main {
  /* outline:1px solid green; */
  float: left;
  width: 500px;
  height: 500px;
  background-color: green;
}
.content > .ad {
  /* outline:1px solid purple; */
  float: left;
  width: 100px;
  height: 500px;
  background-color: purple;
}

.imageList {
  /*  border:1px solid red; */
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.imageList > .image {
  /* border:1px solid green; */
  width: 185px;
  height: 185px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  background-color: rgba(255, 0, 0, 0.3);
}
.imageList > .last {
  margin-right: -20px;
}
